


<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col"></div>
    <div class="mdl-cell mdl-cell--6-col">
        <h3>Contacter nous </h3>
        <form>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" >
                <label class="mdl-textfield__label">email</label>
            </div>
            <br>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label class="mdl-textfield__label" >Message</label>
                <textarea class="mdl-textfield__input"  ></textarea>
            </div>
            <br>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
            Publier
            </button>
        </form>
    </div>
    <div class="mdl-cell mdl-cell--3-col"></div>
</div>