


<div class="container-fluid">
	<div class="row">
		<div class="jumbotron">
			<center>
				<h2>Demo Api Rest  By DevApp</h2>
				<h3>- This is a simple CRUD for articles with AngularJs And ExpressJs</h3>
			</center>
			<p>
				dans cette petite demo nous allons utiliser le framework <b>ExpressJs</b> partie Back-end et <b>AngularJs-1.x</b> Partie Frent-end avec <b>bootstrap</b> et <b>Material design lite</b> coté designe css3 et en fin <b>MongoDB</b> comme DATABASE. Tout ça fonctionne sous le plateforme Node Js <b>NodeJs</b>
			</p>

			<p>
			 dans cette application on peut ajouter un produit a partir d'une simple formulaire sité dans la section "Articles" clicker sur le lien dans le menu si dessus , et a partir de la page articles vous pouvez ajouter , modifier ou supprimer les articles	
			</p>

			<pre>
				{
					"title" : "G-Products",
					"description" : "Demo Api Rest",
					"version" : "1.0.0",
					"Author" : "Bassem Dridi",
					"Repository" : [
						"type" : "git",
						"url" : "git://github.com/infodevapp/g-products/08.git"
					],
					Frameworks : {
						"js" : ["Angularjs", "ExpressJs"],
						"css" : ["Bootstrap", "Material design lite"]
					},
					"SGBD" : "MongoDB"
				}   	
		    </pre>
		</div>
	</div>
</div>