


<div class="container-fluid">
	<div class="row">
		<div class="jumbotron">
			<center>
				<h2>Demo Api Rest  By DevApp</h2>
				<h3>- This is a simple CRUD for articles with AngularJs And ExpressJs</h3>
			</center>
			<pre>
				{
					"title" : "G-Products",
					"description" : "Demo Api Rest",
					"version" : "1.0.0",
					"Author" : "Bassem Dridi",
					"Repository" : [
						"type" : "git",
						"url" : "git://github.com/infodevapp/g-products.git"
					],
					Frameworks : {
						"js" : ["Angularjs", "ExpressJs"],
						"css" : ["Bootstrap", "Material design lite"]
					},
					"SGBD" : "MongoDB",
					"Test-Unitaire" : ["Grunt"]
					"Package-Manager" : ["npm", "bower"]
				}   	
		    </pre>
		</div>
	</div>
</div>