


.demo-card-square.mdl-card {
  width: 290px;
  height: 390px;
}

.margin-card{
	margin: 10px 10px 30px 10px;
}
.mdl-card__title.mdl-card--expand{
	padding: 0px;

}

.card-img{
	width: 290px;
	height: 256px;
	position: absolute;
}
.card-name{
    position: relative;
    width: 290px;
    bottom: -104px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background: rgba(0, -1, 0, 0.2);
}
.fixed{
    position: fixed;
}

@media screen and (min-width: 768px){
    .jumbotron {
        padding-top: 1px;
    }

}
pre{
    border : none;
    font-size: 17px;
}